
@{
    ViewData["Title"] = "DoctorView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Partial("PatientInfo", ViewData["data"])
<br>
<form asp-action="DoctorIndex">
    <p>
    <p>Type PESEL or surname: </p>
    <input type="text" name="SearchString">
    <button type="submit" class="btn btn-primary">Submit</button>
    </p>
</form>

<button class="btn btn-primary">View descriptions</button>


<h1>Visits</h1>
<button class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("DoctorVisit", "Doctor") + "'");">Add visit</button>

@Html.Partial("PatientVisits", ViewData["visits"])

<h1>Docs</h1>
@Html.Partial("PatientDoc", ViewData["docs"])

<h1>Tests</h1>
@Html.Partial("PatientTests", ViewData["tests"])

<h1>Prescription</h1>
@Html.Partial("PatientPrescription", ViewData["prescript"])

<h1>Medical description</h1>
@Html.Partial("MedicalDescription", ViewData["medicalDescriptionData"])
