@model DocSystem.Models.Visit

@{
    ViewData["Title"] = "Visit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Visit</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PatientName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PatientName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DoctorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DoctorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Doctor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <div>
        <button class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("AddDescription", "Doctor") + "?id="+@ViewBag.var+"'");">Add description</button>
        <button class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("AddDocumentationView", "Doctor")  + "?id="+@ViewBag.var+"'");">Add documentation</button>
        <button class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("DoctorPrescription", "Doctor") + "'");">Add prescription</button>
        <button class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("DoctorSickLeave", "Doctor") + "'");">Add sick leave</button>
    </div>
</div>
