
@{
    ViewData["Title"] = "PatientView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("PatientName", ViewData["PatientName"])

<form asp-action="PatientView">
    <p>
    <p>What are you looking for...?</p>
    <input type="text" name="SearchString">
    <button type="submit" class="btn btn-primary">Submit</button>
    </p>
</form>

@Html.Partial("VisitList", ViewData["visitData"])
@Html.Partial("PrescriptionList", ViewData["prescriptioneData"])
@Html.Partial("PatientTests", ViewData["Tests"])

@Html.Partial("SickLeaveList", ViewData["sickLeaveData"])
@Html.Partial("MedicalDescriptions", ViewData["medicalDescription"])
@Html.Partial("DocumentationList", ViewData["documentation"])



