@model IEnumerable<DocSystem.Models.Visit>

@{
    ViewData["Title"] = "VisitList";
}

<h2>Visits</h2>

<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.DoctorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.DoctorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor)
            </td>
            @{ if (item.Status == "done")
                {
                    <td><span style="background-color:green">@Html.DisplayFor(modelItem => item.Status) </span></td>}
                else if (item.Status == "pending")
                {
                    <td><span style="background-color:red">@Html.DisplayFor(modelItem => item.Status) </span></td>}
                else if (item.Status == "in progress")
                {
                    <td><span style="background-color:yellow">@Html.DisplayFor(modelItem => item.Status) </span></td>}
                else
                {
                    <td><span style="background-color:white">@Html.DisplayFor(modelItem => item.Status) </span></td>}
            }
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
}
    </tbody>
</table>
